.Event {
  background: #fff;
  /* TODO: not a border, use a :before pseudo element*/
  border: 0;
  border: 1px solid #7a7a7a;
  border-left: 4px solid #4b6ea8;
  padding: 6px;

  display: flex;
  flex-direction: column;

  font-size: 11px;
}
.Event__title {
  color: #4b6ea8;
}
.Event__location {
  font-size: 10px;
  color: #7a7a7a;
}
